.fontebranca10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.fontebranca12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.fontebranca12:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.fontepreta10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.fontepreta12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.fontepreta12:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.fontepreta14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.fontepreta10bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.fontepreta12bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.fontepreta14bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.fontebranca22bold {
	font-family: times;
	font-size: 22px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.linkpadrao a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.linkpadrao a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.linkpadrao a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.linkpadrao a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}


/*Links para o sistema*/

.linksistema a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.linksistema a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.linksistema a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.linksistema a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}


/*fim links / sistema */

.camposform {
	border: 1px solid #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

input {
	border: 1px solid #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.linhatopo {
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFFFFF;
}
.linhabase {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.linhaesq {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.linhadir {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}
.linhatopoesq{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}
.linhatopodir{
	border-right-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-style: solid;
	border-right-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.linhatopodiresq{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	border-right-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-style: solid;
	border-right-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.linhatopodiresqbase{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	border-right-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-style: solid;
	border-right-color: #FFFFFF;
	border-top-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.linhatopodirbase{
	border-right-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-style: solid;
	border-right-color: #FFFFFF;
	border-top-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}

td.ass{
background-image:url('../img/ass_maria.jpg');
background-repeat:no-repeat;
background-position:center;
}

body{font-family:Verdana, Arial, Helvetica, sans-serif;
}

td{font-family:Verdana, Arial, Helvetica, sans-serif;
}

div{font-family:Verdana, Arial, Helvetica, sans-serif;
}

a.excluir{
color: #FF0000;
}

a.excluir:hover{
color: #AF0000;
}


table.sample {
	border-width: 1px 1px 1px 1px;
	border-spacing: 1px;
	border-style: outset outset outset outset;
	border-color: white;
	border-collapse: collapse;
	/*background-color: white;*/
}
table.samplea th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	/*background-color: white;*/
	-moz-border-radius: 0px 0px 0px 0px;
}
table.samplea td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	/*background-color: white;*/
	-moz-border-radius: 0px 0px 0px 0px;
}

.loading{
display: block;
position: relative;
left: 0px;
top: 60px;
width:0px;
height:0px;
color: #888000;
z-index:1;
}

.loading_done{
position: relative;
display: none;
}
